#GDAL==2.4.2
lxml>=4.3.0
matplotlib==3.2.1
numpy>=1.17,<=1.20
numba==0.41.0
Pillow==5.3.0
scipy>=1.1
utm==0.4.2
imageio==2.5.0
opencv-python>=4.0
pyquaternion==0.9.5
pymap3d==1.7.15
python-dateutil==2.8.0
numpy-groupies>=0.9.9
pyproj>=2.4.0
tifffile
toml
pydantic